@font-face {
  font-family: 'Tele2Sans-Light';
  src: local('Tele2 Sans Light'), local('Tele2Sans-Light');
  src: url('./fonts/Tele2Sans/Webfonts/WOFF/Tele2Sans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Tele2Sans-Medium';
  src: local('Tele2 Sans Medium'), local('Tele2Sans-Medium');
  src: url('./fonts/Tele2Sans/Webfonts/WOFF/Tele2Sans-Medium.woff') format('woff');
}


body {
  background: url('./T2backgrounds/Dark/1200x800/T2_rgb_dark_1200x800_1.jpg');
  background-size: cover;
  font-family: Tele2Sans-Light;
  color: white;

}

.headerContainer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 5px;
  font-size: 40px;
}

.header h1 {
  font-size: 50px;
}
.question{
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.quiz {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
  text-align: center;
}

.logo {
  height: auto;
  width: 200px;
}

.mainContainer {
  justify-content: center;
  width: 100%;
  height: 50em;
  color: white;
  border: solid white 2px;
  margin-top: 25%;
}


.quizContainer {
  border: solid white 2px;
}

.answer {
  font-family: Tele2Sans-Medium;
  font-size: 80%;
  border: solid white 2px;
  margin: 10px 10px 10px 10px;
  height: 150px;
  width: 225px;
  border-radius: 10px;
}

.answers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 27px 0px 27px;
}

.answer:hover {
  background-color: green;

}

.answer:focus {
  background-color: blue;
}
